<h1>All Comedians</h1>
<div class="container-fluid">

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h2>Statistics</h2>
      <div class="grid-container">
        <div>
          <h3>Average Age</h3>
          <div id='av_age'>
            <h5><%= @comedians.avg_age %> years old</h4>
          </div>
        </div>
        <div>
          <h3>Average TV Special Run Time</h3>
          <div id="av_run">
            <h4><%= @specials.avg_run %> minutes</h4>
          </div>
        </div>
        <div>
          <h3>Total TV Specials</h3>
          <h4><%= @specials.total_specials %> specials</h4>
        </div>
      </div>

      <h3>Cities</h3>

      <div class="card-columns">

        <div class='cities'>
          <% @cities.each do |city| %>
          <h5><%= city %></h5>
          <% end %>
        </div>

    </div></p>
  </div>
</div>

<main class="container">
  <div class="card-columns">
    <% @comedians.each do |c| %>
      <div class="card">
        <div class="card-body">
          <div id="comic">

            <a href="/comedians/<%= c.id %>"><h3><%= c.name %></h3></a>
          <h5><li>Age: <%= c.age %></li></h5>
          <h5><li>City: <%= c.city %></li><h5>
          <h5><li>Total Specials: <%= c.com_specs %>
            <div id="specials">
              <h3>Specials</h3>
                  <% c.specials.each do |special| %>
                    <img src="<%= special.image_url %>">
                    <li>Name: <%= special.name %></li>
                    <li>Run Time: <%= special.run_time %> Minutes</li>
                  <% end %>
              </div>
            </div>
        </div>
    <% end %>
      </div>
  </div>
</main>
