<h1>All Comedians</h1>

<a href="/comedians/new">Add Comedian</a>


<h2>Statistics<h2>
  <h3>Average Age</h3>
    <div id='av_age'>
      <%= @comedians.avg_age %> years old
    </div>
    <h3>Average TV Special Run Time</h3>
    <div id="av_run">
      <%= @specials.avg_run %> minutes
    </div>
    <h3>Total TV Specials</h3>
      <%= @specials.total_specials %> specials

    <h3>Cities</h3>
      <div class='cities'>
        <% @cities.each do |city| %>
          <%= city %>
        <% end %>
      </div>


<% @comedians.each do |c| %>
  <ul>
    <div id=<%= "comic-#{c.id}" %>>
      <li>Comedian: <%= c.name %></li>
      <li>Age: <%= c.age %></li>
      <li>City: <%= c.city %>
      <li>Specials: <%= c.com_specs %>
        <div id="specials">
          <% c.specials.each do |special| %>
            <li>Special Name: <%= special.name %></li>
            <li>Run Time: <%= special.run_time %> Minutes</li>
            <img src="<%= special.image_url %>">

            <% end %>
        </div>
    </div>

  </ul>

<% end %>
